.item-produto {
     display: flex;
     align-items: center;
     gap: 1rem;
}

.produto-disponivel {
     list-style-type: none;
     display: flex;
     flex-direction: column;
     margin: 1rem;
}

.home-usuario {
     display: flex;
     justify-content: space-evenly;
}